---
---
{% assign recent = site.posts.first %}
{% capture page_link %}
{{ recent.link}}
{% endcapture %}

{% capture page_image %}
{{ recent.image}}
{% endcapture %}

{% capture page_title %}
{{ recent.title}}
{% endcapture %}

{% capture page_linkText %}
{{ recent.linkText}}
{% endcapture %}

{% capture page_content %}
{{ recent.content}}
{% endcapture %}

{% capture page_author %}
{{ recent.author}}
{% endcapture %}

{% capture page_date %}
{{ recent.date}}
{% endcapture %}

{% include wikisection.html link=page_link image=page_image title=page_title linkText=page_linkText author=page_author date=page_date %}
{{ recent.content }}
{% include signoff.html author=page_author date=page_date %}

