<section class="fixed-l mw7 center w-100 top-50 pb4 nt4 z-0">
  {% if page.previous %}
    <a href="{{ site.url }}{{ page.previous.url }}" >
      <div class="no-underline f4 blue tc hover-silver nl6 fl-l ph3">
          <img src="{{site.url}}/images/arrow-left.png" width="65" height="auto">
          <p >
              {% assign d = page.previous.date | date: "%-d" %} 
              {% assign m = page.previous.date | date: "%B" %} 
        
              {% case m %}
                {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
                {% when 'September' %}Sept.
                {% else %}{{ page.previous.date | date: "%b" }}.
                {% endcase %}
              {% case d %}
                {% when '1' or '21' or '31' %}{{ d }}st
                {% when '2' or '22' %}{{ d }}nd
                {% when '3' or '23' %}{{ d }}rd
                {% else %}{{ d }}th
                {% endcase %}
          </p>
        </div>
    </a>
  {% endif %}
  {% if page.next %}
    <a href="{{ site.url }}{{page.next.url}}">
        <div class="no-underline f4 blue tc hover-silver nr6 fr-l ph3">
            <img src="{{site.url}}/images/arrow-right.png" width="65" height="auto">
            <p >
                {% assign d = page.next.date | date: "%-d" %} 
                {% assign m = page.next.date | date: "%B" %} 
          
                {% case m %}
                  {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
                  {% when 'September' %}Sept.
                  {% else %}{{ page.next.date | date: "%b" }}.
                  {% endcase %}
                {% case d %}
                  {% when '1' or '21' or '31' %}{{ d }}st
                  {% when '2' or '22' %}{{ d }}nd
                  {% when '3' or '23' %}{{ d }}rd
                  {% else %}{{ d }}th
                  {% endcase %}
            </p>
          </div>
    </a>
  {% endif %}
</section>